/*
CORTEX - Sovereign Memory API

Local-first memory infrastructure for AI agents. Vector search, temporal facts, cryptographic ledger.

API version: 1.0.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package cortex

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)


// OracleAPIService OracleAPI service
type OracleAPIService service

type ApiAuditTargetV1OracleAuditPostRequest struct {
	ctx context.Context
	ApiService *OracleAPIService
	oracleRequest *OracleRequest
	authorization *string
}

func (r ApiAuditTargetV1OracleAuditPostRequest) OracleRequest(oracleRequest OracleRequest) ApiAuditTargetV1OracleAuditPostRequest {
	r.oracleRequest = &oracleRequest
	return r
}

// Bearer &lt;api-key&gt;
func (r ApiAuditTargetV1OracleAuditPostRequest) Authorization(authorization string) ApiAuditTargetV1OracleAuditPostRequest {
	r.authorization = &authorization
	return r
}

func (r ApiAuditTargetV1OracleAuditPostRequest) Execute() (*OracleResponse, *http.Response, error) {
	return r.ApiService.AuditTargetV1OracleAuditPostExecute(r)
}

/*
AuditTargetV1OracleAuditPost Audit Target

The Oracle: Run a Sovereign Agent audit.
Requires a valid CORTEX API Key (provisioned via Stripe subscription).

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiAuditTargetV1OracleAuditPostRequest
*/
func (a *OracleAPIService) AuditTargetV1OracleAuditPost(ctx context.Context) ApiAuditTargetV1OracleAuditPostRequest {
	return ApiAuditTargetV1OracleAuditPostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return OracleResponse
func (a *OracleAPIService) AuditTargetV1OracleAuditPostExecute(r ApiAuditTargetV1OracleAuditPostRequest) (*OracleResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *OracleResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "OracleAPIService.AuditTargetV1OracleAuditPost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/oracle/audit"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.oracleRequest == nil {
		return localVarReturnValue, nil, reportError("oracleRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "authorization", r.authorization, "simple", "")
	}
	// body params
	localVarPostBody = r.oracleRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
