/*
CORTEX - Sovereign Memory API

Local-first memory infrastructure for AI agents. Vector search, temporal facts, cryptographic ledger.

API version: 1.0.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package cortex

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)


// SearchAPIService SearchAPI service
type SearchAPIService service

type ApiSearchFactsGetV1SearchGetRequest struct {
	ctx context.Context
	ApiService *SearchAPIService
	query *string
	k *int32
	asOf *string
	graphDepth *int32
	includeGraph *bool
	authorization *string
}

func (r ApiSearchFactsGetV1SearchGetRequest) Query(query string) ApiSearchFactsGetV1SearchGetRequest {
	r.query = &query
	return r
}

func (r ApiSearchFactsGetV1SearchGetRequest) K(k int32) ApiSearchFactsGetV1SearchGetRequest {
	r.k = &k
	return r
}

func (r ApiSearchFactsGetV1SearchGetRequest) AsOf(asOf string) ApiSearchFactsGetV1SearchGetRequest {
	r.asOf = &asOf
	return r
}

func (r ApiSearchFactsGetV1SearchGetRequest) GraphDepth(graphDepth int32) ApiSearchFactsGetV1SearchGetRequest {
	r.graphDepth = &graphDepth
	return r
}

func (r ApiSearchFactsGetV1SearchGetRequest) IncludeGraph(includeGraph bool) ApiSearchFactsGetV1SearchGetRequest {
	r.includeGraph = &includeGraph
	return r
}

// Bearer &lt;api-key&gt;
func (r ApiSearchFactsGetV1SearchGetRequest) Authorization(authorization string) ApiSearchFactsGetV1SearchGetRequest {
	r.authorization = &authorization
	return r
}

func (r ApiSearchFactsGetV1SearchGetRequest) Execute() ([]SearchResult, *http.Response, error) {
	return r.ApiService.SearchFactsGetV1SearchGetExecute(r)
}

/*
SearchFactsGetV1SearchGet Search Facts Get

Semantic + Graph-RAG search via GET (scoped to tenant).

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiSearchFactsGetV1SearchGetRequest
*/
func (a *SearchAPIService) SearchFactsGetV1SearchGet(ctx context.Context) ApiSearchFactsGetV1SearchGetRequest {
	return ApiSearchFactsGetV1SearchGetRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return []SearchResult
func (a *SearchAPIService) SearchFactsGetV1SearchGetExecute(r ApiSearchFactsGetV1SearchGetRequest) ([]SearchResult, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []SearchResult
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SearchAPIService.SearchFactsGetV1SearchGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/search"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.query == nil {
		return localVarReturnValue, nil, reportError("query is required and must be specified")
	}
	if strlen(*r.query) > 1024 {
		return localVarReturnValue, nil, reportError("query must have less than 1024 elements")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "query", r.query, "form", "")
	if r.k != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "k", r.k, "form", "")
	} else {
		var defaultValue int32 = 5
		parameterAddToHeaderOrQuery(localVarQueryParams, "k", defaultValue, "form", "")
		r.k = &defaultValue
	}
	if r.asOf != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "as_of", r.asOf, "form", "")
	}
	if r.graphDepth != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "graph_depth", r.graphDepth, "form", "")
	} else {
		var defaultValue int32 = 0
		parameterAddToHeaderOrQuery(localVarQueryParams, "graph_depth", defaultValue, "form", "")
		r.graphDepth = &defaultValue
	}
	if r.includeGraph != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "include_graph", r.includeGraph, "form", "")
	} else {
		var defaultValue bool = false
		parameterAddToHeaderOrQuery(localVarQueryParams, "include_graph", defaultValue, "form", "")
		r.includeGraph = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "authorization", r.authorization, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiSearchFactsV1SearchPostRequest struct {
	ctx context.Context
	ApiService *SearchAPIService
	searchRequest *SearchRequest
	authorization *string
}

func (r ApiSearchFactsV1SearchPostRequest) SearchRequest(searchRequest SearchRequest) ApiSearchFactsV1SearchPostRequest {
	r.searchRequest = &searchRequest
	return r
}

// Bearer &lt;api-key&gt;
func (r ApiSearchFactsV1SearchPostRequest) Authorization(authorization string) ApiSearchFactsV1SearchPostRequest {
	r.authorization = &authorization
	return r
}

func (r ApiSearchFactsV1SearchPostRequest) Execute() ([]SearchResult, *http.Response, error) {
	return r.ApiService.SearchFactsV1SearchPostExecute(r)
}

/*
SearchFactsV1SearchPost Search Facts

Semantic + Graph-RAG search across facts (scoped to tenant).

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiSearchFactsV1SearchPostRequest
*/
func (a *SearchAPIService) SearchFactsV1SearchPost(ctx context.Context) ApiSearchFactsV1SearchPostRequest {
	return ApiSearchFactsV1SearchPostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return []SearchResult
func (a *SearchAPIService) SearchFactsV1SearchPostExecute(r ApiSearchFactsV1SearchPostRequest) ([]SearchResult, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []SearchResult
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SearchAPIService.SearchFactsV1SearchPost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/search"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.searchRequest == nil {
		return localVarReturnValue, nil, reportError("searchRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "authorization", r.authorization, "simple", "")
	}
	// body params
	localVarPostBody = r.searchRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
